{% include"@Covoiturage/Default/bg.html.twig" %}
{% block body %}
    {% include"@Covoiturage/Default/navbar.html.twig" %}
    <div style="margin-left: 10%; margin-right: 10%">
        <div style="display : inline-block;vertical-align : top;">
            <h1 style="text-align: center; color: blue;">
                Listes Des Passagers
            </h1>
        </div>
        <div style="display : inline-block;vertical-align : top; padding-top: 1%">
            <a href="{{ path('passager_add') }}">
                <img src="{{ asset('img/add.png') }}" alt="add_passager"/>
            </a>
        </div>
    </div>
    <div style="margin-left: 10%; margin-right: 10%; padding-top: 1%;">
        <table border="2px" style="width: 100%; text-align: center;">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th width="3%"></th>
                <th width="3%"></th>
            </tr>
            {% for passager in passagers %}
                <tr>
                    <td>{{ passager.nompass }}</td>
                    <td>{{ passager.prenompass }}</td>
                    <td>{{ passager.telpass }}</td>
                    <td>
                        <a href="{{ path('passager_edit',{'id':passager.id}) }}">
                            <img src="{{ asset('img/edit1.png') }}" alt="edit_passager"/>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('passager_remove',{'id':passager.id}) }}">
                            <img src="{{ asset('img/remove1.png') }}" alt="remove_passager"/>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% include"@Covoiturage/Default/footbar.html.twig" %}
{% endblock %}
