<div>
    <div style="display : inline-block;vertical-align : top; width: 16%; margin-left: 5%">
        <a style="text-decoration: none;" href="{{ path('covoiturage_homepage') }}">
            <h3 style="color: white;">
                Index
            </h3>
        </a>
    </div>
    <div style="display : inline-block;vertical-align : top; width: 16%; margin-right: 1%">
        <a style="text-decoration: none;" href="{{ path('chauffeur_view_all') }}">
            <h3 style="color: white;">
                Chauffeur
            </h3>
        </a>
    </div>
    <div style="display : inline-block;vertical-align : top; width: 16%; margin-right: 1%">
        <a style="text-decoration: none;" href="{{ path('passager_view_all') }}">
            <h3 style="color: white;">
                Passager
            </h3>
        </a>
    </div>
    <div style="display : inline-block;vertical-align : top; width: 16%; margin-right: 1%">
        <a style="text-decoration: none;" href="{{ path('voiture_view_all') }}">
            <h3 style="color: white;">
                Voiture
            </h3>
        </a>
    </div>
    <div style="display : inline-block;vertical-align : top; width: 16%; margin-right: 1%">
        <a style="text-decoration: none;" href="{{ path('reserv_trajet_view_all') }}">
            <h3 style="color: white;">
                Reservation
            </h3>
        </a>
    </div>
    <div style="display : inline-block;vertical-align : top; width: 8%; margin-right: 1%">
        <a style="text-decoration: none;" href="{{ path('trajet_view_all') }}">
            <h3 style="color: white;">
                Trajet
            </h3>
        </a>
    </div>
</div>
<hr>
